### Data processing of different historical portfolios
#### Difficulty:
- We don't know how many sheet the excel file contains
- Different mandats have different historical dates
- Different mandats have a different ISIN universe

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # to be able to display all columns of a dataframe

In [2]:
# Cells that are in the same column as ISIN, but are not ISIN

delete_list = ['CHF',  'EUR', 'GBP', 'Autre', 'USD', 'Autres', 'TOTAL', 'Commodities', 'Obligations',
              'NON EUR', 'CAD', 'AUD', 'JPY', 'EMCUR', 'Ass. pf action', 'PAC_XJPY',
              'Courbe CHF - duration', 'Courbe EUR - duration', 'Actions Monde',
              'Actions EM', 'Actions EMU', 'Obligations EM', 'Obligations High Yield',
              'Obligations Monde', 'Obligations EUR', 'Liquidités', 'High Yield', 
              'Actions', 'Obligation', 'Gestion décorrélée', 'Gest. asym. action',
              'Courbe USD - duration', 'Courbe Monde - duration', 'Hedge Funds', 'TOTAL',
              '% Gouvernementales - courbe CHF', '% Corporate - courbe CHF',
              '% Gouvernementales - courbe EUR', '% Corporate - courbe EUR',
              '% Gouvernementales - courbe USD', '% Corporate - courbe USD',
              '% Gouvernementales - courbe Monde', '% Corporate - courbe Monde',
              '% Gouvernementales - Courbe CHF', '% Corporate - Courbe CHF',
              '% Gouvernementales - Courbe EUR', '% Corporate - Courbe EUR',
              '% Gouvernementales - Courbe USD', '% Corporate - Courbe USD',
              '% Gouvernementales - Courbe Monde', '% Corporate - Courbe Monde']

In [3]:
df_excel = pd.read_excel('ss_histo.xlsx', parse_dates=False, sheet_name=None, header=3) # sheet_name=None => input all excel sheets in a dataframe dictionary

/Users/lacoupe/Documents/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
/Users/lacoupe/Documents/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [4]:
i = 1
df = list(df_excel.values())[i] # values => dataframe
sheet_name = list(df_excel.keys())[i] # keys => name of the sheet/mandat
print('Mandat :', sheet_name)
df.head()

Mandat : Obligation CHF - III

,DEVISES,Fonds de placement / Produits,No ISIN,Pond actuelle,2015-10-19 00:00:00,2015-11-16 00:00:00,2015-12-14 00:00:00,2016-01-18 00:00:00,2016-02-16 00:00:00,2016-03-07 00:00:00,2016-03-29 00:00:00,2016-04-08 00:00:00,2016-04-18 00:00:00,2016-04-27 00:00:00,2016-05-17 00:00:00,2016-06-13 00:00:00,2016-06-27 00:00:00,2016-07-08 00:00:00,2016-07-21 00:00:00,2016-08-03 00:00:00,2016-08-10 00:00:00,2016-08-22 00:00:00,2016-09-20 00:00:00,2016-10-24 00:00:00,2016-11-14 00:00:00,2016-12-19 00:00:00,2017-01-16 00:00:00,2017-02-13 00:00:00,2017-03-13 00:00:00,2017-04-10 00:00:00,2017-05-08 00:00:00,2017-06-08 00:00:00,2017-06-30 00:00:00,2017-07-24 00:00:00,2017-08-28 00:00:00,2017-09-26 00:00:00,2017-10-20 00:00:00,2017-11-20 00:00:00,2017-12-18 00:00:00,2018-01-22 00:00:00,2018-02-19 00:00:00,2018-03-21 00:00:00,2018-04-24 00:00:00,2018-05-22 00:00:00,2018-06-18 00:00:00,2018-07-16 00:00:00,2018-08-21 00:00:00,2018-09-19 00:00:00,2018-10-15 00:00:00,2018-11-14 00:00:00,2018-12-10 00:00:00,2019-01-21 00:00:00,2019-02-18 00:00:00,2019-03-18 00:00:00,2019-04-15 00:00:00,2019-05-13 00:00:00,2016-06-12 00:00:00,2019-07-08 00:00:00,2019-07-22 00:00:00,2019-08-19 00:00:00,2019-10-21 00:00:00,2019-11-20 00:00:00,2019-12-13 00:00:00,2020-01-20 00:00:00,2020-02-17 00:00:00,2020-03-13 00:00:00,2020-04-20 00:00:00,2020-05-18 00:00:00,2020-06-15 00:00:00,2020-07-20 00:00:00,2020-08-24 00:00:00,2020-09-23 00:00:00,2020-10-19 00:00:00,2020-11-16 00:00:00,2020-12-14 00:00:00,2021-01-25 00:00:00,2021-03-01 00:00:00,2021-03-22 00:00:00,2021-04-20 00:00:00,2021-05-26 00:00:00,2021-06-21 00:00:00,2021-08-23 00:00:00,2021-09-21 00:00:00,2021-10-26 00:00:00,2021-11-23 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CHF,Cash - CHF,MPCASHCHF,0.025,0.1665,0.1615,0.1615,0.1615,0.1605,0.1605,0.159,0.199,0.187,0.167,0.167,0.167,0.187,0.187,0.187,0.187,0.187,0.18,0.18,0.18,0.18,0.18,0.18,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2155,0.2555,0.2555,0.2755,0.2755,0.223,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.17,0.19,0.164,0.164,0.164,0.164,0.164,0.204,0.224,0.224,0.02,0.02,0.02,0.0205,0.0205,0.0205,0.0305,0.00,0.01,0.005,0.0275,0.0275,0.0235,0.0135,0.0135,0.068,0.053,0.053,0.051,0.051,0.051,0.05,0.05,0.03,0.025
2,CHF,SWC (LU) Money Market Fund CHF P,LU0141249424,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
3,EUR,Cash - EUR,MPCASHEUR,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,-0.040,-0.040,-0.040,0.02,0.02,0.02,0.0200,0.0200,0.0200,0.0200,0.02,0.02,0.025,0.0250,0.0250,0.0290,0.0290,0.0290,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
4,GBP,Cash - GBP,MPCASHGBP,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000

In [5]:
df = df.dropna(how='all')
df = df[-df['No ISIN'].isin(delete_list)] # Eliminate rows whose ISIN is in the delete list
df.head()

,DEVISES,Fonds de placement / Produits,No ISIN,Pond actuelle,2015-10-19 00:00:00,2015-11-16 00:00:00,2015-12-14 00:00:00,2016-01-18 00:00:00,2016-02-16 00:00:00,2016-03-07 00:00:00,2016-03-29 00:00:00,2016-04-08 00:00:00,2016-04-18 00:00:00,2016-04-27 00:00:00,2016-05-17 00:00:00,2016-06-13 00:00:00,2016-06-27 00:00:00,2016-07-08 00:00:00,2016-07-21 00:00:00,2016-08-03 00:00:00,2016-08-10 00:00:00,2016-08-22 00:00:00,2016-09-20 00:00:00,2016-10-24 00:00:00,2016-11-14 00:00:00,2016-12-19 00:00:00,2017-01-16 00:00:00,2017-02-13 00:00:00,2017-03-13 00:00:00,2017-04-10 00:00:00,2017-05-08 00:00:00,2017-06-08 00:00:00,2017-06-30 00:00:00,2017-07-24 00:00:00,2017-08-28 00:00:00,2017-09-26 00:00:00,2017-10-20 00:00:00,2017-11-20 00:00:00,2017-12-18 00:00:00,2018-01-22 00:00:00,2018-02-19 00:00:00,2018-03-21 00:00:00,2018-04-24 00:00:00,2018-05-22 00:00:00,2018-06-18 00:00:00,2018-07-16 00:00:00,2018-08-21 00:00:00,2018-09-19 00:00:00,2018-10-15 00:00:00,2018-11-14 00:00:00,2018-12-10 00:00:00,2019-01-21 00:00:00,2019-02-18 00:00:00,2019-03-18 00:00:00,2019-04-15 00:00:00,2019-05-13 00:00:00,2016-06-12 00:00:00,2019-07-08 00:00:00,2019-07-22 00:00:00,2019-08-19 00:00:00,2019-10-21 00:00:00,2019-11-20 00:00:00,2019-12-13 00:00:00,2020-01-20 00:00:00,2020-02-17 00:00:00,2020-03-13 00:00:00,2020-04-20 00:00:00,2020-05-18 00:00:00,2020-06-15 00:00:00,2020-07-20 00:00:00,2020-08-24 00:00:00,2020-09-23 00:00:00,2020-10-19 00:00:00,2020-11-16 00:00:00,2020-12-14 00:00:00,2021-01-25 00:00:00,2021-03-01 00:00:00,2021-03-22 00:00:00,2021-04-20 00:00:00,2021-05-26 00:00:00,2021-06-21 00:00:00,2021-08-23 00:00:00,2021-09-21 00:00:00,2021-10-26 00:00:00,2021-11-23 00:00:00
1,CHF,Cash - CHF,MPCASHCHF,0.025,0.1665,0.1615,0.1615,0.1615,0.1605,0.1605,0.159,0.199,0.187,0.167,0.167,0.167,0.187,0.187,0.187,0.187,0.187,0.18,0.18,0.18,0.18,0.18,0.18,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2155,0.2555,0.2555,0.2755,0.2755,0.223,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.17,0.19,0.164,0.164,0.164,0.164,0.164,0.204,0.224,0.224,0.02,0.02,0.02,0.0205,0.0205,0.0205,0.0305,0.00,0.01,0.005,0.0275,0.0275,0.0235,0.0135,0.0135,0.068,0.053,0.053,0.051,0.051,0.051,0.05,0.05,0.03,0.025
2,CHF,SWC (LU) Money Market Fund CHF P,LU0141249424,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
3,EUR,Cash - EUR,MPCASHEUR,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,-0.040,-0.040,-0.040,0.02,0.02,0.02,0.0200,0.0200,0.0200,0.0200,0.02,0.02,0.025,0.0250,0.0250,0.0290,0.0290,0.0290,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
4,GBP,Cash - GBP,MPCASHGBP,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
5,EUR,SWC (LU) Money Market Fund EUR P,LU0899940125,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000

In [6]:
df = df.drop(df.columns[[0,1,3]], axis=1)
df.head()

,No ISIN,2015-10-19 00:00:00,2015-11-16 00:00:00,2015-12-14 00:00:00,2016-01-18 00:00:00,2016-02-16 00:00:00,2016-03-07 00:00:00,2016-03-29 00:00:00,2016-04-08 00:00:00,2016-04-18 00:00:00,2016-04-27 00:00:00,2016-05-17 00:00:00,2016-06-13 00:00:00,2016-06-27 00:00:00,2016-07-08 00:00:00,2016-07-21 00:00:00,2016-08-03 00:00:00,2016-08-10 00:00:00,2016-08-22 00:00:00,2016-09-20 00:00:00,2016-10-24 00:00:00,2016-11-14 00:00:00,2016-12-19 00:00:00,2017-01-16 00:00:00,2017-02-13 00:00:00,2017-03-13 00:00:00,2017-04-10 00:00:00,2017-05-08 00:00:00,2017-06-08 00:00:00,2017-06-30 00:00:00,2017-07-24 00:00:00,2017-08-28 00:00:00,2017-09-26 00:00:00,2017-10-20 00:00:00,2017-11-20 00:00:00,2017-12-18 00:00:00,2018-01-22 00:00:00,2018-02-19 00:00:00,2018-03-21 00:00:00,2018-04-24 00:00:00,2018-05-22 00:00:00,2018-06-18 00:00:00,2018-07-16 00:00:00,2018-08-21 00:00:00,2018-09-19 00:00:00,2018-10-15 00:00:00,2018-11-14 00:00:00,2018-12-10 00:00:00,2019-01-21 00:00:00,2019-02-18 00:00:00,2019-03-18 00:00:00,2019-04-15 00:00:00,2019-05-13 00:00:00,2016-06-12 00:00:00,2019-07-08 00:00:00,2019-07-22 00:00:00,2019-08-19 00:00:00,2019-10-21 00:00:00,2019-11-20 00:00:00,2019-12-13 00:00:00,2020-01-20 00:00:00,2020-02-17 00:00:00,2020-03-13 00:00:00,2020-04-20 00:00:00,2020-05-18 00:00:00,2020-06-15 00:00:00,2020-07-20 00:00:00,2020-08-24 00:00:00,2020-09-23 00:00:00,2020-10-19 00:00:00,2020-11-16 00:00:00,2020-12-14 00:00:00,2021-01-25 00:00:00,2021-03-01 00:00:00,2021-03-22 00:00:00,2021-04-20 00:00:00,2021-05-26 00:00:00,2021-06-21 00:00:00,2021-08-23 00:00:00,2021-09-21 00:00:00,2021-10-26 00:00:00,2021-11-23 00:00:00
1,MPCASHCHF,0.1665,0.1615,0.1615,0.1615,0.1605,0.1605,0.159,0.199,0.187,0.167,0.167,0.167,0.187,0.187,0.187,0.187,0.187,0.18,0.18,0.18,0.18,0.18,0.18,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2155,0.2555,0.2555,0.2755,0.2755,0.223,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.193,0.17,0.19,0.164,0.164,0.164,0.164,0.164,0.204,0.224,0.224,0.02,0.02,0.02,0.0205,0.0205,0.0205,0.0305,0.00,0.01,0.005,0.0275,0.0275,0.0235,0.0135,0.0135,0.068,0.053,0.053,0.051,0.051,0.051,0.05,0.05,0.03,0.025
2,LU0141249424,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
3,MPCASHEUR,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,-0.040,-0.040,-0.040,0.02,0.02,0.02,0.0200,0.0200,0.0200,0.0200,0.02,0.02,0.025,0.0250,0.0250,0.0290,0.0290,0.0290,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
4,MPCASHGBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000
5,LU0899940125,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,0.00,0.00,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.000

In [7]:
list_date = list(df.columns)[1:] # Get all dates available of a particular sheet
# Pivot the dataframe in a more robust architecture
df = df.melt(id_vars='No ISIN', value_vars=list_date, var_name='histo_date', value_name='weight')
df = df[df['No ISIN'].notna()] # drop rows when ISIN is NaN
df = df.dropna(subset=['weight'])
df = df[df['weight'] != 0] # remove weight of 0% to get only valuable data
df.head()

         No ISIN histo_date  weight
0      MPCASHCHF 2015-10-19  0.1665
11  LU0135487147 2015-10-19  0.0900
13  LU0278084768 2015-10-19  0.0350
14  LU0209983930 2015-10-19  0.0400
16  LU0482270740 2015-10-19  0.0400

In [8]:
df['portfolio'] = 'Star Select'
df['strategie'] = sheet_name
df.head()

         No ISIN histo_date  weight    portfolio             strategie
0      MPCASHCHF 2015-10-19  0.1665  Star Select  Obligation CHF - III
11  LU0135487147 2015-10-19  0.0900  Star Select  Obligation CHF - III
13  LU0278084768 2015-10-19  0.0350  Star Select  Obligation CHF - III
14  LU0209983930 2015-10-19  0.0400  Star Select  Obligation CHF - III
16  LU0482270740 2015-10-19  0.0400  Star Select  Obligation CHF - III

In [9]:
# string processing
if 'III' in sheet_name:
    df['on/off'] = 'off'
    strategie = sheet_name.replace(' - III', '') # remove a substring
    strategie = strategie.replace('_III', '')
    df['strategie'] = strategie
else:
    df['on/off'] = 'on'
    df['strategie'] = sheet_name
    
df.head()

         No ISIN histo_date  weight    portfolio       strategie on/off
0      MPCASHCHF 2015-10-19  0.1665  Star Select  Obligation CHF    off
11  LU0135487147 2015-10-19  0.0900  Star Select  Obligation CHF    off
13  LU0278084768 2015-10-19  0.0350  Star Select  Obligation CHF    off
14  LU0209983930 2015-10-19  0.0400  Star Select  Obligation CHF    off
16  LU0482270740 2015-10-19  0.0400  Star Select  Obligation CHF    off

In [10]:
nbr_sheet = len(list(df_excel.values()))

# Iterate through all sheet of the excel file
for i in range(nbr_sheet):
    
    df = list(df_excel.values())[i] # values => dataframe
    sheet_name = list(df_excel.keys())[i] # keys => name of the sheet/mandat
    if 'No ISIN' not in df.columns: # Ignore a sheet if does not contain ISIN column
        continue
        
    df = df.dropna(how='all') # drop row when all columns are NaN
    df = df[-df['No ISIN'].isin(delete_list)] # Eliminate rows whose ISIN is in the delete list
    
    df = df.drop(df.columns[[0,1,3]], axis=1) # drop unused columns
    list_date = list(df.columns)[1:] # Get all dates available of a particular sheet
    
    # Pivot the dataframe in a more robust architecture
    df = df.melt(id_vars='No ISIN', value_vars=list_date, var_name='histo_date', value_name='weight')
    df = df[df['No ISIN'].notna()] # drop rows when ISIN is NaN
    df = df.dropna(subset=['weight'])
    df = df[df['weight'] != 0] # remove weight of 0% to get only valuable data
    
    df['portfolio'] = 'Star Select'
    df['strategie'] = sheet_name
    
    # string processing
    if 'III' in sheet_name:
        df['on/off'] = 'off'
        strategie = sheet_name.replace(' - III', '') # remove a substring
        strategie = strategie.replace('_III', '')
        df['strategie'] = strategie
    else:
        df['on/off'] = 'on'
        df['strategie'] = sheet_name
    
    df['weight'] = df['weight'].astype('float64') # change type of column
    df['weight'] = df['weight']
    
    # At first iteration initialize the final dataframe
    if i==0:
        df_port = df
    # Concatenate all portfolios in the final dataframe
    else:
        df_port = pd.concat([df_port, df], axis=0)


df_port['histo_date'] = df_port['histo_date'].dt.date
df_port = df_port.drop_duplicates()

<ipython-input-10-e4fefcd37e5e>:18: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df = df.melt(id_vars='No ISIN', value_vars=list_date, var_name='histo_date', value_name='weight')

In [11]:
df_port.head()

         No ISIN  histo_date  weight    portfolio       strategie on/off
0      MPCASHCHF  2015-10-19   0.166  Star Select  Obligation CHF     on
11       Obl.dir  2015-10-19   0.125  Star Select  Obligation CHF     on
15  LU0209983930  2015-10-19   0.040  Star Select  Obligation CHF     on
17  LU0482270740  2015-10-19   0.040  Star Select  Obligation CHF     on
26  LU0447826693  2015-10-19   0.040  Star Select  Obligation CHF     on

In [12]:
df_port.tail()

           No ISIN  histo_date  weight    portfolio   strategie on/off
8333  IE00B4YBJ215  2021-11-23   0.133  Star Select  Action USD    off
8336  IE00BDFBTQ78  2021-11-23   0.015  Star Select  Action USD    off
8339  LU0313358250  2021-11-23   0.084  Star Select  Action USD    off
8340  LU0399012185  2021-11-23   0.084  Star Select  Action USD    off
8352  LU1419797524  2021-11-23   0.024  Star Select  Action USD    off

# Error reporting

In [13]:
test_neg = df_port[df_port['weight'] < 0]
test_neg.head()

        No ISIN  histo_date  weight    portfolio       strategie on/off
8058  MPCASHEUR  2019-07-08   -0.04  Star Select  Obligation CHF     on
8210  MPCASHEUR  2019-07-22   -0.04  Star Select  Obligation CHF     on
8362  MPCASHEUR  2019-08-19   -0.04  Star Select  Obligation CHF     on
7846  MPCASHEUR  2019-07-08   -0.04  Star Select  Obligation CHF    off
7994  MPCASHEUR  2019-07-22   -0.04  Star Select  Obligation CHF    off

In [14]:
test_pfm = df_port.groupby(['portfolio', 'strategie', 'on/off', 'histo_date'], dropna=False).sum()
test_pfm = test_pfm[(test_pfm['weight'] != 1.)]
test_pfm.rename(columns={'weight':'Total exposure different than 100%'}, inplace=True)
test_pfm

                                              Total exposure different than 100%
portfolio   strategie      on/off histo_date
Star Select Action CHF     on     2021-01-25                              1.0995
            Equilibré CHF  on     2020-09-23                              1.2745
            Modéré EUR     off    2021-06-21                              1.0310
            Modéré USD     off    2021-05-26                              1.0215
                                  2021-08-23                              1.0315
            Obligation EUR on     2021-10-26                              1.0150